<select class="form-select" aria-label="Default select example" name="month">
    {% if today.month == 1 %}
    <option selected value="1">Styczeń</option>
    <option value="2">Luty</option>
    <option value="3">Marzec</option>
    <option value="4">Kwiecień</option>
    <option value="5">Maj</option>
    <option value="6">CZerwiec</option>
    <option value="7">Lipiec</option>
    <option value="8">Sierpoień</option>
    <option value="9">Wrzesień</option>
    <option value="10">Pździernik</option>
    <option value="11">Listopad</option>
    <option value="12">Grudzień</option>

    {% elif today.month == 2 %}
    <option value="1">Styczeń</option>
    <option selected value="2">Luty</option>
    <option value="3">Marzec</option>
    <option value="4">Kwiecień</option>
    <option value="5">Maj</option>
    <option value="6">CZerwiec</option>
    <option value="7">Lipiec</option>
    <option value="8">Sierpoień</option>
    <option value="9">Wrzesień</option>
    <option value="10">Pździernik</option>
    <option value="11">Listopad</option>
    <option value="12">Grudzień</option>

    {% elif today.month == 3 %}
    <option value="1">Styczeń</option>
    <option value="2">Luty</option>
    <option selected value="3">Marzec</option>
    <option value="4">Kwiecień</option>
    <option value="5">Maj</option>
    <option value="6">CZerwiec</option>
    <option value="7">Lipiec</option>
    <option value="8">Sierpoień</option>
    <option value="9">Wrzesień</option>
    <option value="10">Pździernik</option>
    <option value="11">Listopad</option>
    <option value="12">Grudzień</option>

    {% elif today.month == 4 %}
    <option value="1">Styczeń</option>
    <option value="2">Luty</option>
    <option value="3">Marzec</option>
    <option selected value="4">Kwiecień</option>
    <option value="5">Maj</option>
    <option value="6">CZerwiec</option>
    <option value="7">Lipiec</option>
    <option value="8">Sierpoień</option>
    <option value="9">Wrzesień</option>
    <option value="10">Pździernik</option>
    <option value="11">Listopad</option>
    <option value="12">Grudzień</option>

    {% elif today.month == 5 %}
    <option value="1">Styczeń</option>
    <option value="2">Luty</option>
    <option value="3">Marzec</option>
    <option value="4">Kwiecień</option>
    <option selected value="5">Maj</option>
    <option value="6">CZerwiec</option>
    <option value="7">Lipiec</option>
    <option value="8">Sierpoień</option>
    <option value="9">Wrzesień</option>
    <option value="10">Pździernik</option>
    <option value="11">Listopad</option>
    <option value="12">Grudzień</option>

    {% elif today.month == 6 %}
    <option value="1">Styczeń</option>
    <option value="2">Luty</option>
    <option value="3">Marzec</option>
    <option value="4">Kwiecień</option>
    <option value="5">Maj</option>
    <option selected value="6">CZerwiec</option>
    <option value="7">Lipiec</option>
    <option value="8">Sierpoień</option>
    <option value="9">Wrzesień</option>
    <option value="10">Pździernik</option>
    <option value="11">Listopad</option>
    <option value="12">Grudzień</option>

    {% elif today.month == 7 %}
    <option value="1">Styczeń</option>
    <option value="2">Luty</option>
    <option value="3">Marzec</option>
    <option value="4">Kwiecień</option>
    <option value="5">Maj</option>
    <option value="6">CZerwiec</option>
    <option selected value="7">Lipiec</option>
    <option value="8">Sierpoień</option>
    <option value="9">Wrzesień</option>
    <option value="10">Pździernik</option>
    <option value="11">Listopad</option>
    <option value="12">Grudzień</option>

    {% elif today.month == 8 %}
    <option value="1">Styczeń</option>
    <option value="2">Luty</option>
    <option value="3">Marzec</option>
    <option value="4">Kwiecień</option>
    <option value="5">Maj</option>
    <option value="6">CZerwiec</option>
    <option value="7">Lipiec</option>
    <option selected value="8">Sierpoień</option>
    <option value="9">Wrzesień</option>
    <option value="10">Pździernik</option>
    <option value="11">Listopad</option>
    <option value="12">Grudzień</option>

    {% elif today.month == 9 %}
    <option value="1">Styczeń</option>
    <option value="2">Luty</option>
    <option value="3">Marzec</option>
    <option value="4">Kwiecień</option>
    <option value="5">Maj</option>
    <option value="6">CZerwiec</option>
    <option value="7">Lipiec</option>
    <option value="8">Sierpoień</option>
    <option selected value="9">Wrzesień</option>
    <option value="10">Pździernik</option>
    <option value="11">Listopad</option>
    <option value="12">Grudzień</option>

    {% elif today.month == 10 %}
    <option value="1">Styczeń</option>
    <option value="2">Luty</option>
    <option value="3">Marzec</option>
    <option value="4">Kwiecień</option>
    <option value="5">Maj</option>
    <option value="6">CZerwiec</option>
    <option value="7">Lipiec</option>
    <option value="8">Sierpoień</option>
    <option value="9">Wrzesień</option>
    <option selected value="10">Pździernik</option>
    <option value="11">Listopad</option>
    <option value="12">Grudzień</option>

    {% elif today.month == 11 %}
    <option value="1">Styczeń</option>
    <option value="2">Luty</option>
    <option value="3">Marzec</option>
    <option value="4">Kwiecień</option>
    <option value="5">Maj</option>
    <option value="6">CZerwiec</option>
    <option value="7">Lipiec</option>
    <option value="8">Sierpoień</option>
    <option value="9">Wrzesień</option>
    <option value="10">Pździernik</option>
    <option selected value="11">Listopad</option>
    <option value="12">Grudzień</option>

    {% elif today.month == 12 %}
    <option value="1">Styczeń</option>
    <option value="2">Luty</option>
    <option value="3">Marzec</option>
    <option value="4">Kwiecień</option>
    <option value="5">Maj</option>
    <option value="6">CZerwiec</option>
    <option value="7">Lipiec</option>
    <option value="8">Sierpoień</option>
    <option value="9">Wrzesień</option>
    <option value="10">Pździernik</option>
    <option value="11">Listopad</option>
    <option selected value="12">Grudzień</option>


    {% endif %}


</select>