{% extends 'base.html' %}

{% block content %}


<div class="container mt-4">

  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'income' %}">Wydatki</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dodaj wpływ</li>
  </ol>
</nav>





<div class="card">
    <div class="card-body">
      <form action="{% url 'add-income' %}" method="post">
        {% csrf_token %}
        {% include 'partials/_messages.html' %}




        <div class="form-group">
          <label for="">Kwota</label>
          {% csrf_token %}
          <input type="text" class="form-control form-control-sm" name="amount" value="{{values.amount}}"/>
        </div>

        <div class="form-group mt-1">
                <select name="waluta"  value="{{values.waluta}}" class="form-control form-control-sm" id="inputGroupSelect04" aria-label="Example select with button addon">

                  {% if waluta_usera.currency %}
                  <option name="currency" selected value="{{waluta_usera.currency}}">{{waluta_usera.currency}}</option>
                  {%endif %}

                  {% for currency in currencies %}
                    <option name="currency" value="{{currency.name_wal}} - {{currency.value_wal}}">{{currency.name_wal}} - {{currency.value_wal}}</option>

                  {% endfor %}

                </select>
        </div>

         <div class="form-group">
          <label for="">Lokalizacja</label>
            <select class="form-control form-control-sm" name="budynek">
              {% for budynek in budynki %}
              <option name="budynek" value="{{budynek.name}}">{{budynek.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
          <label for="">Opis</label>
          <input type="text" class="form-control form-control-sm" name="description" value="{{values.description}}"/>
        </div>
        <div class="form-group">
          <label for="">Żródło</label>
          <select class="form-control" name="source">


            {% for source in sources %}
            <option name="source" value="{{source.name}}">{{source.name}}</option>


            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="">Data Wpływu </label>
          <input type="date" class="form-control form-control-sm" name="income_date">
        </div>

        <input type="submit" value="Zapisz" class="btn btn-primary btn-primary-sm mt-1">
      </form>
    </div>

</div>




</div>






{% endblock %}



